{% extends 'base.html.twig' %}


{% block body %}
    <!-- WELCOME -->
    <section class="pt-8 pt-md-12 pb-12 pb-md-15">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            <!-- Headin -->
            <h1 class="display-1 fw-bold">
              Mon Portfolio
            </h1>
            <!-- Text -->
            <p class="lead text-secondary mb-4">
              Chaque toile de ce portfolio est une fenêtre ouverte sur un monde vibrant de couleurs, où l'imagination de l'artiste peintre se mêle harmonieusement à la réalité, créant des œuvres qui parlent autant à l'âme qu'aux yeux.
            </p>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- CONTENT -->
    <section class="py-8 py-md-11 mt-n10 mt-md-n14">
        <div class="container">
            <div class="row" id="portfolio" data-isotope='{"layoutMode": "fitRows"}'>
                {% for category in categories %}
                    {% if category.paints|length > 0 %}
                        {% set img = category.paints|last %}
                        <div class="col-12 col-md-4 product">
                            <!-- Card -->
                            <a class="card card-flush mb-7" href="{{ path('portfolio_categorie', {'slug': category.slug}) }}">
                                <!-- Image -->
                                <div class="card-zoom">
                                    <img class="card-img-top rounded shadow-light-lg" src="{{ img.file }}" alt="{{ img.name }}">
                                </div>
                                <!-- Footer -->
                                <div class="card-footer">
                                    <!-- Preheading -->
                                    <h6 class="text-uppercase mb-1 text-body-secondary">{{ category.name }}</h6>
                                    <!-- Heading -->
                                    <h4 class="mb-0">{{ category.description }}</h4>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>


    <!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x text-gray-200">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
    </div>
{% endblock %}
