{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<!-- CONTENT -->
    <section>
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center gx-0 min-vh-100">
          <div class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

            <!-- Heading -->
            <h1 class="mb-0 fw-bold">
              Me contacter
            </h1>
            <!-- Text -->
            <p class="mb-6 text-body-secondary">
              Une question ? Envie d'acheter une toile ? N'hésitez pas à me contacter.
            </p>
            
            <!-- Form -->
            {{form_start(form)}}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{message}}
                    </div>
                {% endfor %}

                <div class="my-custom-class-for-errors">
                    {{form_errors(form)}}
                </div>

                <div class="form-group mb-5">
                    <label class="form-label" for="contactName">
                        {{form_label(form.name)}}
                    </label>
                    {{ form_widget(form.name) }}
                </div>

                <div class="form-group mb-5">
                    <label class="form-label" for="contactEmail">
                        {{form_label(form.email)}}
                    </label>
                    {{ form_widget(form.email) }}
                </div>

                <div class="form-group mb-5">
                    <label for="contactMessage">
                        {{form_label(form.message)}}
                    </label>
                    {{ form_widget(form.message) }}
                </div>
                
                <div class="form-group mb-0">
                    {{form_widget(form.send)}}
                </div>

                {{form_end(form)}}

          </div>
          <div class="col-lg-7 offset-lg-1 align-self-stretch d-none d-lg-block">

            <!-- Image -->
            <div class="h-100 w-cover bg-cover" style="background-image: url(/img/peinture.png);"></div>

            <!-- Shape -->
            <div class="shape shape-start shape-fluid-y text-white">
              <svg viewBox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h100v386l-50 772v386H0V0z" fill="currentColor"/></svg>            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
{% endblock %}
